body {
    background-color: #d4edda; /* Pastel green */
    font-family: Arial, sans-serif;
}

h1 {
    color: #2c6e49; /* Dark green */
    text-align: center;
}

p {
    color: #4b6043; /* Slightly darker green */
    font-size: 18px;
    text-align: center;
}
.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
}
.dot {
    height: 8px; width: 8px;
    border-radius: 4px; /* rounds corners */
    background: blue;
    position: absolute;
}